[2017-03-08 02:45] stevekuznetsov opened #77 "jUnit XML Not Appearing as Expected"
- [ ] `test_pull_request_origin_integration` has no output
 - [ ] `test_pull_request_origin_extended_conformance_gce` doesn't get merged output
 - [ ] `test_pull_request_origin_extended_networking_minimal` has no output

[2017-03-08 03:00] stevekuznetsov commented on #77
We've never seemed to have any jUnit from the integration job at all. which is a shame. We can simply get e2e jUnit as I did in the upstream pull, but more work will be necessary if we want to invest in getting jUnit for our integration suite.

[2017-03-08 21:51] stevekuznetsov opened #88 "Lots of Logs Not Collected From systemd Journal"
We want to add a new way to get artifacts where we grab the output of a command run so that we can get all sorts of stuff, including but not limited to:
 - journals for:
   - docker
   - origin master
   - origin node(s)
 - `yum list installed`
 - ???

[2017-03-10 01:28] stevekuznetsov commented on #88
We got these in a6b3c7a448615d037fe1b5c04232af6641c08c71 and 7fbdd4f1cf3fc17927b128b3c871e2f199800ccb

[2017-03-10 01:28] #88 closed

[2017-03-10 01:29] stevekuznetsov opened #96 "Get stderr from ausearch as well"

[2017-03-10 18:26] #96 closed

[2017-03-22 17:30] jim-minter opened #137 "extended tests run in go 1.6"
Similar to the fix in https://github.com/openshift/aos-cd-jobs/pull/102 , a fix is needed to compile extended tests using go 1.7.

[2017-03-22 17:45] stevekuznetsov commented on #137
@jim-minter which jobs are mis-compiling? `build-rpm-release.sh` should be run inside of `hack/env` for the `test_pull_request_origin_extended_conformance_{gce,install}` jobs.

[2017-04-20 12:55] rhcarvalho opened #202 "Testing changes before merging"
_Opening this as a issue for visibility and to discuss the current process and perhaps find actionable improvements._

I would like to understand what is the current process for merging changes to this repo and what measures are in place to verify the changes before they affect people working on other repos that depend on the Jenkins jobs.

In the last couple of weeks I've seen errors in merge job

[2017-04-20 12:58] stevekuznetsov commented on #202
I assume you are talking about the `sjb/` jobs. The current process is manual and described in #201. When we move to a Jenkinsfile process (eta: one or two sprints) we have aim to introduce a process. This is not a simple problem to solve but it is clearly on our radar and I don't think you'll find anyone who disagrees that a process would be helpful.

[2017-04-20 13:13] rhcarvalho commented on #202
@stevekuznetsov thanks. We're on the same team/boat/whatever-we-call it. Understanding that yes this is already in the radar, with the best open source intentions, I'd like to bring the discussion upstream. This way we have more transparency and allow for contribution from a broader audience.

I meant the repo as a whole, not only jobs that affect openshift-ansible.

From #201:

- While other PRs

[2017-04-20 13:14] rhcarvalho commented on #202
Sorry, now I see it was created only 38 min ago.

[2017-04-20 13:25] stevekuznetsov commented on #202
I made this in the morning and I don't think Justin has been in yet to look at it.

Yes, it's a mix of the process not being followed, being followed poorly, differences between "test" jobs and "real" jobs (when something has been tested in isolation but broke in the middle of a larger job) or simple mistakes or oversight.

It is a tricky question. From my understanding, no current system supports

[2017-04-21 17:09] stevekuznetsov opened #209 "Describe branch propagation logic in README"
We should document how the branching logic works off of `master`.

[2017-04-22 21:51] smarterclayton opened #211 "AWS Failures in origin-ci-tool not surfaced back up to end user in a sane way"
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_install/279/consoleFull#-123995087358b6e51eb7608a5981914356

[2017-04-22 23:14] smarterclayton commented on #211
The AMI doesn't have an `origin` user, which oct expects

@stevekuznetsov @jupierce @jhadvig @dobbymoodge did we fiddle with the AMI in the last day or so?  Started failing friday afternoon

[2017-04-22 23:20] smarterclayton commented on #211
Actually, it *does* have the origin user, but I can't SSH in with that user, only with root.

[2017-04-22 23:27] smarterclayton commented on #211
Recreate:

[code]

[2017-04-23 06:21] stevekuznetsov commented on #211
Does the job creating `base` have `oct prepare user` as a step? This was working fine last week...

[2017-04-23 06:22] stevekuznetsov commented on #211
Looks like it does... John any chance the new AMI pruning was too liberal? AMIs from more than two weeks ago won't have the right SSH setup for that user.

[2017-04-23 15:57] stevekuznetsov commented on #211
Yeah, @dobbymoodge the pruning seems to have deleted all of the `(operating_system=rhel,image_stage=base,ready=yes)` images since Feb 13, so the latest AMIs we have are too old and incompatible. We need to turn off the pruning job and get new ones built.

[2017-04-23 15:58] stevekuznetsov commented on #211
The pruning _has_ kept around the last two `ready=no` ones, though...

[2017-04-23 16:11] stevekuznetsov commented on #211
I've manually tagged one of the failed `image_stage=base` as `ready=yes` -- the issues that the job was having (Docker not being started) are not present when I just start one manually.

[2017-04-23 19:04] dobbymoodge commented on #211
@stevekuznetsov huh, that's really strange. It should keep around the latest two of any combo. ... but it just ran and I can see that's not what's happening.

I'll disable the job for now and take a look at the code today/tomorrow morning.

[2017-04-23 19:50] stevekuznetsov commented on #211
I think it is keeping last two regardless of `ready=` value.

[2017-04-23 22:28] smarterclayton commented on #211
The revert got us back to working - and then at 3:15pm (about) we stopped working on a new failure mode - instance doesn't respond to SSH.  Couldn't tell whether this was the new AMI (ami-e2a937f4) being used, or whether another behavior changed.

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_install/280/ started, https://ci.openshift.redhat.com/jenkins/job/te

[2017-04-23 22:57] stevekuznetsov commented on #211
Taking a look.

[2017-04-23 23:06] stevekuznetsov commented on #211
I can reproduce it but I think it's an AWS error? I see:

[code]

[2017-04-23 23:07] stevekuznetsov commented on #211
Well, still an error on our end:

[2017-04-23 23:08] dobbymoodge commented on #211
That might be due to the prune script running *just one more time*, which is what I was referring to in my previous comment. It removed an older AMI though:

[2017-04-23 23:11] stevekuznetsov commented on #211
Looks like we have too many instances in "terminate" state -- did you also disable the reaper?

[2017-04-23 23:12] stevekuznetsov commented on #211
We have ~900 EBS volumes in use right now, but one I just looked at is attached to a stopped instance named "terminate" that was created as part of a job run.

[2017-04-23 23:14] stevekuznetsov commented on #211
But there's also 200 stopped but not renamed `test_pull_request*` instances... maybe the failure hook on the Jenkins jobs isn't firing somehow?

[2017-04-23 23:21] stevekuznetsov commented on #211
Looks like when a post-job step fails it skips all the rest of the post-job steps even though they are clearly marked as "run on failure". I'll try to clean this up.

[2017-04-24 00:17] stevekuznetsov commented on #211
They're all renamed to `teminate` but aren't getting cleaned up.

[2017-04-24 00:20] stevekuznetsov commented on #211
/cc @dobbymoodge

[2017-04-24 12:35] dobbymoodge commented on #211
Yeah, I'm not sure why those haven't been getting terminated. This has been happening since long before my changes though. I wonder if it has something to do with how they're being created or some other aspect of their lifecycle.

[2017-04-24 18:58] smarterclayton commented on #211
Resolved the core issue, will leave this open for messages.

[2017-04-24 19:12] stevekuznetsov commented on #211
That issue should be opened against the `ec2` module in the Ansible repo, we just parrot that error output to the user.

[2017-04-28 10:26] kargakis opened #228 "Document all of the branches in README"
Some of the branches are already documented, others aren't.

https://github.com/openshift/aos-cd-jobs#jenkins-pipeline-definitions-under-jobs

We should fill those up @jupierce @bbguimaraes @tdawson @smunilla

[2017-05-01 14:43] jupierce commented on #228
Here's a few: https://github.com/openshift/aos-cd-jobs/commit/3125b6e0bcc9ca51af6b67b49879de98afb79050

[2017-05-01 14:44] jupierce commented on #228
It would be good to have a detailed description in the README.MD for each job/x/y/z directory as well.

[2017-05-06 16:30] #209 closed

[2017-05-10 11:17] kargakis opened #247 "sjb: +o errexit is not respected in host scripts"
https://ci.openshift.redhat.com/jenkins/view/All/job/ami_build_origin_int_rhel_fork/16/consoleFull#-206914687858b6e51eb7608a5981914356

[code]

cc: @stevekuznetsov

[2017-05-10 11:20] kargakis commented on #247
Also, in the same job, a non-zero exit code of a command does not result in failing the stage:
[code]

[2017-05-10 13:24] stevekuznetsov commented on #247
Re: the first thing -- not super interested in making that work as it's bad practice anyway. I understand it will make porting the `fork_ami` stuff harder, but I think that is OK.

Re: the second thing -- do you have a reproducer?

[2017-05-10 13:49] kargakis commented on #247
@stevekuznetsov what is the suggested way to execute stages that shouldn't fail the job once they fail because we don't really care, eg. a Trello comment? Should we support the intent in the sjb syntax?

I just realized that the error was hit inside the command I run over ssh.

[2017-05-10 13:53] stevekuznetsov commented on #247
Make the Bash not fail -- for example:

[code]

See also `man trap`:
[code]

[2017-05-10 14:16] stevekuznetsov commented on #247
Looks like you were using an old base for your branch, problem should be fixed with 78a0e9c24767d5acf0c5519edc260c5baf5ef2e4 and https://github.com/openshift/aos-cd-jobs/commit/b1d17d59c5b68006fc31c93743d5e532c28ad920

[2017-05-10 14:23] kargakis commented on #247
Unlike, my fork is just lacking the last 2 days of commits. https://github.com/kargakis/aos-cd-jobs/commits/master

[2017-05-10 14:26] stevekuznetsov commented on #247
Sorry, I misread your output -- it was an SSH session you started, not one SJB did. Closing this as it's a user  error and not from the framework.

[2017-05-10 14:26] #247 closed

[2017-05-16 09:57] jim-minter opened #257 "make -j makes CI logs harder to read"
Using `make -j` at https://github.com/openshift/aos-cd-jobs/blob/master/sjb/config/test_cases/test_branch_origin_check.yml#L19 makes CI logs harder to understand as the output of test-unit and test-cmd is interposed.

Would a PR to remove this "-j" be acceptable?

[2017-05-16 10:09] jim-minter commented on #257
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin/1441/consoleFull is an example of this happening: there's 2000 lines of go unit test output breaking up a cmd test failure - search for "/go/sRunning" in the output to see what I mean.

[2017-05-16 15:46] kargakis opened #259 "git rebase -i fails on empty commits"
We need to find a way for devs to remove CARRY commits without force-pushing. Creating a revert of a CARRY commit as a SQUASH does not work because `git rebase -i` doesn't know what to do with the empty commit. We may want to add logic and identify empty commits before actually doing the rebase and drop all those commits automatically.

Found in https://github.com/openshift/aos-cd-jobs/pull/258

@

[2017-05-16 16:31] stevekuznetsov commented on #259
[code]

Followed by

[code]

?

[2017-05-22 15:51] deads2k opened #279 "auto-sync openshift/kubernetes"
The openshift level of kubernetes carries multiple patches.  Sometimes we need  to be able to pull a level of kube that matches our vendor tree.  We should automate the process of keeping these patches up to date by copying the UPSTREAM commits to `openshift/kubernetes`, then auto-creating a `bump(k8s.io/kubernetes):<openshift/kuberenetes sha>` commit in openshift/origin.

`hack/move-upstream.sh`

[2017-05-22 15:52] stevekuznetsov commented on #279
We can set up a job that triggers off of merges into Origin. Should not be hard.

[2017-05-23 11:57] kargakis opened #281 "fork_ami support for private repos"
The initial version of the new fork_ami job works only with public repos; changing the flow to `git clone` locally and update the remote repo with the local copy does not work for some reason related to git+ssh. We probably want to investigate more.

[2017-05-25 11:44] kargakis opened #289 "Provide an option to associate fork AMIs with Bugzilla issues"
Requested in https://github.com/openshift/aos-cd-jobs/pull/220#discussion_r117508183

[2017-05-25 14:00] kargakis opened #290 "Add a simple docker test in one of the install jobs"
So we can avoid issues like https://bugzilla.redhat.com/show_bug.cgi?id=1455472 in the future.

[2017-05-25 14:32] kargakis opened #291 "sjb: record stage duration in multistage jobs"
@stevekuznetsov would help in quickly identifying the stages that push a job to high durations.

[2017-05-25 14:42] kargakis opened #292 "Add option to set a PR number in fork_ami"

[2017-05-25 17:52] #291 closed

[2017-06-06 14:58] kargakis opened #315 "$<REPO_NAME>_TARGET_BRANCH is not getting forwarded in remote hosts"
https://github.com/openshift/aos-cd-jobs/pull/314#discussion_r120377961

Tried in https://ci.openshift.redhat.com/jenkins/view/All/job/test_pull_request_origin_kargakis/2/console, got a `/tmp/tmp.K0kUIWsnF0: line 9: ORIGIN_TARGET_BRANCH: unbound variable` back.

@stevekuznetsov

[2017-06-06 15:09] stevekuznetsov commented on #315
Unclear why that failed. The parameter is definitely in the job configuration and you can see us using it in the sync step:

[code]

[code]

[2017-06-06 15:11] stevekuznetsov commented on #315
Oh, we may not be forwarding it to the remote host...

[2017-06-06 15:17] kargakis commented on #281
As per @stevekuznetsov, `oct sync local` should work for this use-case.

[2017-06-21 01:52] sjenning opened #346 "sjb/hack/determine_install_upgrade_version.py errors"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/1489/console

[code]

[2017-06-21 01:56] sjenning commented on #346
https://github.com/openshift/aos-cd-jobs/commit/b80a5d8c6f5651dd14b3d8c2be5d2627d65e0aef introduced the `copy.deepcopy(pkg)` that results in the error.  It was reverted.  Then the revert was reverted.

@eparis

[2017-06-21 03:49] stevekuznetsov commented on #346
@jhadvig

[2017-06-21 03:49] stevekuznetsov commented on #346
I'll revert tonight.

[2017-06-21 03:56] stevekuznetsov commented on #346
Revert would break PRs against non-master branches, which is not something we need during dev-cut. PR is open to fix this, we can finish it out tomorrow.

[2017-06-21 12:04] #346 closed

[2017-06-21 16:28] stevekuznetsov opened #352 "Improve Semantics of Post-Build Tasks"
Today, we run a number of post-build `publishers`. As only one `org.jenkinsci.plugins.postbuildscript.PostBuildScript` can be run as a `publisher`, we end up with a block of `buildSteps` of type `hudson.tasks.Shell`. This means that if we have a post-build flow like -- generate artifacts, retrieve artifacts, fetch `systemd` journals, deprovision cloud resources -- and one of the first `hudson.task

[2017-06-22 12:17] soltysh commented on #352
I need to familiarize myself with how this all machinery is working, but I'll try to hack something up.

[2017-06-22 19:44] sjenning commented on #346
Is this fix rolled out into the CI pipeline? I hit it again today
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install_update/1489/console

[2017-06-22 20:21] stevekuznetsov commented on #346
That job ran at `2017-06-20 18:31:45` -- the fix merged `2017-06-21 05:04:12`

[2017-06-22 20:23] sjenning commented on #346
@stevekuznetsov gah my bad.  link was too the old result still.  nevermind!

[2017-06-26 15:17] stevekuznetsov opened #360 "Ensure GCE Jobs Generate Appropriate Artifacts"
Today, we have artifact generation and fetching tasks for all the jobs that run off of AWS, as it only requires one hop from the Jenkins master using the `origin-ci-tool` SSH configuration onto the AWS host. We do not have the same level of artifact gathering for the GCE job, as this job uses the AWS host as a intermediary and connects to GCE from there -- so we grab _e.g._ the `origin-node` log f

[2017-06-26 17:33] stevekuznetsov opened #361 "package-dockertested: skopeo version skew breaks pre-flight checks"
We install `docker` using the `rhel7next*` suite of repos, which are synced from the latest RHEL 7 Extras compose in Brew. During this process, recently we are bringing in `skopeo-containers` as a dependency:

[code]

This means when we run pre-flight checks in the installer that try to install and use `skopeo`, they need to be grabbing the bleeding edge version from the `rhel7next*` repositories

[2017-06-26 17:34] stevekuznetsov commented on #361
@sosiouxme @rhcarvalho please triage this. Today, fixing this issue is a blocker for  getting new versions of Docker into the CI stream, so if you feel like you will not have the bandwidth to tackle it this week we can just turn off the check.

[2017-06-26 18:09] sosiouxme commented on #361
I can make a PR to disable this check for now to unblock testing with `rhel7next docker`.

Who has been driving getting `rhel7next docker` into use in CI? It seems like it would be way more efficient for them to update that to pull in `rhel7next skopeo` as well than for me to try to figure out how to do everything @stevekuznetsov described above. And it feels like a better owner for this problem -

[2017-06-26 18:14] stevekuznetsov commented on #361
This job and the workflow above _are_ the mechanism for getting the latest `docker` into our CI. We can't install from `rhel7next*` on the normal CI AMIs as any repo we install from we basically need to always remain on for the future, and we cannot safely rely on the latest Extras compose. This is why the `package-dockertested` job exists to take the bleeding edge `docker`, test it, and when it's

[2017-06-26 18:30] sdodson commented on #361
What if rather than trying to chase dependencies the test job pulls from a candidate rhel7next and once tests pass it then publishes that repo to a location that's used by jobs and that repo is left enabled in the AMI? The test process would need to use an alternate location but same reponame and be sure to clear its caches before sealing the image.

[2017-06-26 18:33] stevekuznetsov commented on #361
You mean instead of promoting specific packages like we do today, instead promote the entire `rhel7next*` ecosystem all together? We have some cards to build such a system but just have not had time to think it all through yet.

[2017-06-26 18:33] sosiouxme commented on #361
We can scrum about who'll take on the CI updates. /cc @brenton

@juanvallejo feel like getting to know our CI better? :-P

[2017-06-26 20:18] sdodson commented on #361
@stevekuznetsov ... or mirror the repo locally to the AMI and then make the repo definition point at the local filesystem. Not sure how large the repo is or if there are any limits on the ami size.

[2017-06-27 15:49] rhcarvalho commented on #361
Discussed with @sosiouxme on IRC that we can keep the `docker_image_availability` disabled for the `dockertested` job.

Unless anybody plans to work on the discussed solution involving yum repos, this issue can be closed.

[2017-06-27 16:15] stevekuznetsov commented on #361
@rhcarvalho the check will need to be disabled for _all_ jobs as when we have the newer `docker` installed, it will have the same conflict with `skopeo-containers` and the check will not be able to install `skopeo` from non-bleeding edge repos. If you guys want this check to be running, this is a hard pre-requisite.

[2017-06-27 16:33] stevekuznetsov commented on #361
Actually as per [this build info](https://brewweb.engineering.redhat.com/brew/rpminfo?rpmID=4748671) it looks like the `%requires` from Docker to `skopeo-containers` is not versioned, so we _might_ be able to get away with version skew between the two packages. @lsm5 @runcom or @rhcarvalho I feel like we need to understand the dependency between these two packages better to know if we are going to

[2017-06-30 17:02] kargakis opened #382 "Return master logs from GCE"
cc: @mfojtik @stevekuznetsov

[2017-06-30 17:03] stevekuznetsov commented on #382
Dupe of #360

[2017-06-30 17:03] #382 closed

[2017-07-02 22:43] smarterclayton opened #388 "VM changed to make registry.access.redhat.com the default"
Caused failures in jobs:

https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/292/consoleText

because registry.access.redhat.com is not pushable.  We shouldn't be using registry.access.redhat.com as the default registry for the AMI VM, changing the default registry in docker is a bad idea.

[2017-07-03 18:14] stevekuznetsov commented on #388
Jobs are setting enterprise deployment type and this is coming from the installer, not here.

[2017-07-03 18:14] #388 closed

[2017-07-04 15:28] kargakis opened #391 "Stage reported as SUCCESS even though it failed"
[code]

[2017-07-04 15:29] kargakis commented on #391
@stevekuznetsov we have discussed this one before.

[2017-07-05 11:30] kargakis opened #393 "Jenkins parameters w/o any default value should not be unset"
Jenkins parameters w/o any default values are considered unset by our stages so we cannot use them at all (because of `set -u`).

See https://github.com/openshift/aos-cd-jobs/issues/391#issue-240451587

@stevekuznetsov

[2017-07-05 13:36] stevekuznetsov commented on #391
Hmmm -- last we talked we were not using the temp script approach. The errors before where the shell failed but the stage didn't should now be fixed. I'll dig.

[2017-07-05 13:36] stevekuznetsov commented on #393
How do you think we should get around this? It's default Jenkins behavior AFAICT.

[2017-07-05 14:18] kargakis commented on #393
Either https://wiki.jenkins.io/display/JENKINS/Export+Parameters+Plugin may work or we can query Jenkins params from inside which sounds meh.

[2017-07-05 14:19] kargakis commented on #393
As a workaround for now, we can default to `<none>` (what I did in the new fork_ami job).

[2017-07-05 14:21] kargakis commented on #393
Hm, if we can't have the build id then this is not possible. Chicken-egg problem.

[2017-07-05 15:50] stevekuznetsov commented on #393
What is a concrete example of this failure? When the job should either do the old flow (with `$ORIGIN_PULL_ID`) or the new one (with `$PULL_REFS`)? Why not just:

[code]

[2017-07-05 15:52] kargakis commented on #393
If that won't break when PULL_REFS is unset, then it's fine.

[2017-07-05 16:20] stevekuznetsov commented on #393
Yep, that is correct way to check for variables being set and will play nice with `set -o errexit` and `set -o nounset`.

[2017-07-05 16:20] #393 closed

[2017-07-05 18:43] stevekuznetsov commented on #391
Wait, this is in a shell block on the Jenkins master, not on the remote host. Even weirder.

[2017-07-05 21:35] #360 closed

[2017-07-07 18:03] kargakis opened #407 "Allow devs to rerun individual test jobs instead of rerunning the whole test suite"
Will be easier once we switch to prow.

[2017-07-07 18:06] kargakis opened #408 "Investigate breaking down the integration test job into two separate jobs"
The integration test job today runs `hack/test-integration.sh` and `hack/test-end-to-end{,-docker}.sh`. While the later test normally takes up to 8min, it may end up hang for more than an hour (see https://github.com/openshift/origin/issues/15093). We need to investigate if we can run the integration test in less than an hour* so it won't make any difference billing-wise to have the additional job

[2017-07-07 18:07] kargakis opened #409 "Investigate reducing the time for the install_upgrade job"
Slowest test in our queue by far

@jhadvig @stevekuznetsov @smarterclayton

[2017-07-10 16:56] stevekuznetsov commented on #257
Sorry -- this slipped through my cracks. I don't think it is tenable today to serialize these tasks. However, we should just break them up into separate jobs a la #408

[2017-07-10 16:56] stevekuznetsov commented on #279
Any updates here?

[2017-07-17 14:34] kargakis opened #437 "Make the `process-pull-requests` (Rosie) calls in the jobs get skipped if $PULL_REFS is set"
Extracted from e-mail discussion @stevekuznetsov

[2017-07-18 11:29] stevekuznetsov commented on #437
Should be able to do

[code]

We'll need to make the change in `sjb/templates/test_case.xml.

[2017-07-21 10:19] kargakis commented on #437
Is this template generated from somewhere or we need to do the change directly into it?

[2017-07-21 10:20] kargakis commented on #437
Btw I only see `test_pull_requests` being called in there.

[2017-07-21 10:36] kargakis opened #446 "Failure cause management support in sjb"
I am wondering if we can store our failure causes inside config in this repo as opposed to having them buried inside Jenkins

@stevekuznetsov

[2017-07-21 12:50] stevekuznetsov commented on #446
The [plugin page](https://wiki.jenkins.io/plugins/servlet/mobile?contentId=65667716#content/view/65667716) says we can serialize the knowledge base as XML. Unclear if hot-reload of that is supported.

[2017-07-21 12:52] stevekuznetsov commented on #437
The template is the source of truth, no need to update anywhere. Yes, sorry, `test_pull_requests` is the name of the Ruby script.

[2017-07-21 13:56] #437 closed

[2017-07-21 13:59] kargakis opened #450 "base_ami is broken - centos_paas repo needs go1.8"
https://ci.openshift.redhat.com/jenkins/view/All/job/ami_build_origin_int_rhel_base/174/consoleFull#9078238345898c58db7602c31c0eab717

@stevekuznetsov any idea who is responsible for updating https://cbs.centos.org/repos/paas7-openshift-origin36-candidate/x86_64/os/?

cc: @brenton

[2017-07-21 15:40] stevekuznetsov commented on #450
I was going to handle this when I got back, but if we next it sooner, @sdodson can add in the Go RPM and we can switch to installing it in the AMI

[2017-07-26 12:22] deads2k opened #462 "Batch merge link points to upstream prow"
The batch merge link on https://origin-sq-status-ci.svc.ci.openshift.org/#/queue points to https://prow.k8s.io/?type=batch

@kargakis @stevekuznetsov I don't know what repo to open these against.

[2017-07-26 13:15] stevekuznetsov commented on #462
@deads2k either this one or openshift/test-infra

[2017-07-26 15:07] bparees opened #466 "old test jobs are not cancelled when new commits are pushed"
I pushed a commit, tagged the PR to run extended tests, then pushed a new commit.  The old extended test job was not canceled (but a new job was started to run the new commit).

PR:
https://github.com/openshift/origin/pull/15439

old job:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/3/
new job:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request

[2017-07-26 15:07] bparees commented on #466
/cc @stevekuznetsov @kargakis

[2017-07-26 15:28] stevekuznetsov commented on #466
Prow did have a duration stamp for the old job though so it did consider it finished

[2017-07-26 17:37] kargakis commented on #466
Yeah, eventually I want to get cancellation in (abort a job once a new job for the same PR starts). Note that Rosie was no different than what Prow is doing today in that regard.

[2017-07-26 17:40] bparees commented on #466
yup, except that Prow now starts the new job immediately, which is both good(yay, fast!), and bad (bad because it encourages people to leave their old jobs running.  Before you were motivated to cancel the old job in order to get your new job to start sooner).

[2017-07-26 17:41] kargakis commented on #466
You can still cancel the job in Jenkins if you care enough.

[2017-07-26 17:41] stevekuznetsov commented on #466
I would bet my yearly salary no more than four people ever pushed that button.

[2017-07-26 17:43] bparees commented on #466
right, but previously people had a reason to care beyond saving us some money.  now they don't.  that's why i think it's more important now.

I am not claiming this is hugely critical.

i will take that bet.  it may not be a lot, but it is more than 4 :)

[2017-07-26 17:44] stevekuznetsov commented on #466
@kargakis if you can confirm this is just Prow behavior with Jenkins, I will close this and push it upstream

[2017-07-26 17:44] bparees commented on #466
it was also easier to track down the old job before, because you had the comment to the old job which you had to cancel before you'd get a new job.  now the status immediately points to the new job, so you have to go to prow(?) if you want to go find the old job for your PR and cancel.

[2017-07-26 17:46] bparees commented on #466
one more reason:  previously due to the rosie behavior, i could push 5 commits and potentially only trigger one test run.  Now i'm going to get 5 test runs even though i don't care about 4 of them.  So there is going to be added cost if we aren't canceling them, even aside from whatever people do manually.

[2017-07-26 17:48] kargakis commented on #466
Test aggregation for a PR is effectively what Gubernator is about.

Yes, this is a prow issue. I think there is already an issue upstream or at least it has been discussed somewhere. Leave the issue open and tomorrow I will try to link the related discussion and close.

[2017-07-26 17:51] kargakis commented on #466
If you push them at the same time, this shouldn't be an issue I think. If you push them separately then yes, you will likely trigger a separate test run for each push.

[2017-07-26 17:53] bparees commented on #466
that's the case i mean.  "oops, noticed a typo" [push] "oops, forget this other spot" [push], etc.

[2017-07-27 08:11] kargakis commented on #466
Upstream issue is https://github.com/kubernetes/test-infra/issues/3209

[2017-07-27 08:11] #466 closed

[2017-07-27 08:29] kargakis commented on #462
Fix merged in https://github.com/kubernetes/test-infra/pull/3703 - will close once we redeploy our SQ instance with it.

[2017-07-27 13:41] stevekuznetsov commented on #462
@kargakis do we want to rebase ?

[2017-07-27 13:49] kargakis commented on #462
If there are no PRs in the queue, we could do it. Otherwise, I would wait for https://github.com/kubernetes/test-infra/pull/3735 and your PR to land so we can drop the patches we carry.

[2017-07-27 14:08] stevekuznetsov commented on #462
for bot name?

[2017-07-27 15:07] kargakis commented on #462
Yeah, that's the other patch, right? Although I am also patching the approve no-issue thingy so we still need an additional fix to drop that one too... sigh. I guess we can redeploy but we need a card to drop the patches, I don't want to accumulate any tech-debt.

[2017-07-28 19:07] kargakis commented on #450
Fixed by https://github.com/openshift/aos-cd-jobs/pull/469

[2017-07-28 19:07] #450 closed

[2017-07-28 19:07] kargakis commented on #462
Fixed

[2017-07-28 19:08] kargakis commented on #315
Fixed by https://github.com/openshift/aos-cd-jobs/pull/414

[2017-07-28 19:08] #315 closed

[2017-07-28 19:13] kargakis commented on #407
Fixed by https://github.com/openshift/release/pull/49

[2017-07-28 19:13] #407 closed

[2017-07-31 08:29] #462 closed

[2017-07-31 10:06] kargakis opened #474 "Create a new job that pushes origin-gce in dockerhub"
Or update the existing job that pushes releases in dockerhub to also push origin-gce (if that makes sense).

@jhadvig @smarterclayton @stevekuznetsov

[2017-07-31 19:02] smarterclayton commented on #474
zz-origin-gce is the gate that prevents openshift-ansible changes from
impacting jobs, by controlling  when a new origin-gce image containing new
openshift-ansible code is added.  It's probably better to be a different
job.

On Mon, Jul 31, 2017 at 6:06 AM, Michail Kargakis <notifications@github.com>
wrote:

[2017-08-01 15:16] miminar opened #483 "Allow for running extended tests with a focus"
I'd really like to run registry and pruning related tests for registry code changes like before:

[code]

[2017-08-01 15:21] miminar commented on #483
/cc @kargakis

[2017-08-01 15:30] stevekuznetsov commented on #483
This is probably not going to happen. What we _can_ do is write a non-blocking job `/test registry` or something that you guys can use that encodes a focus you use often -- can you provide one? I'll make the job

[2017-08-01 20:37] #408 closed

[2017-08-03 09:27] kargakis opened #504 "Base AMI is still broken"
May be related to the recent changes in the ingtegration job

cc: @stevekuznetsov @deads2k

https://ci.openshift.redhat.com/jenkins/view/AMIs/job/ami_build_origin_int_rhel_base/188/consoleFull#-3492724395898c58db7602c31c0eab717

[2017-08-03 13:37] deads2k commented on #504
I don't know what this does.

[2017-08-03 13:39] kargakis commented on #504
https://github.com/openshift/aos-cd-jobs/blob/master/sjb/config/test_cases/ami_build_origin_int_rhel_base.yml

[2017-08-03 14:40] stevekuznetsov commented on #504
Fixed in f1aff0c0fe5062c642b7470dc8dc2133e5dd00fd

[2017-08-03 14:40] #504 closed

[2017-08-03 14:59] kargakis commented on #504
![thank_you_based_god_nick](https://user-images.githubusercontent.com/3900799/28928264-1a239ec8-786d-11e7-9dad-48910d8da9f0.jpg)

[2017-08-04 02:04] stevekuznetsov opened #517 "Should sjb/hack/determine_install_upgrade_version.py ever return an upgrade version that is not the search version?"
@jhadvig one of the side-effects of the issues today was that I noticed that `sjb/hack/determine_install_upgrade_version.py` is returning something other than the input package version for the upgrade target. When does this make sense? I thought we always want to upgrade to the code we just built, right? Maybe I am forgetting something in the history of this script :\

[2017-08-07 21:11] jupierce opened #538 "Clean up push-to-mirrors.sh"
@adammhaile I recently updated push-openshift-online-to-mirrors.sh to improve variable naming and simplify it:

https://github.com/openshift/aos-cd-jobs/blob/master/build-scripts/rcm-guest/push-openshift-online-to-mirrors.sh

Compare to what it would have looked like originally (before renaming): https://github.com/openshift/aos-cd-jobs/blob/70c3488790dde633c9b8c80b3667650d67872107/build-scripts/r

[2017-08-07 21:17] jupierce opened #539 "Stream rcm scripts for stage-to-prod and use pipeline-scripts/buildlib.groovy"
@adammhaile Please use new rcm script streaming method for:
https://github.com/openshift/aos-cd-jobs/blob/master/jobs/build/stage-to-prod/Jenkinsfile

This is encapsulated in a new Groovy library I'm writing and I'd like to start using everywhere: https://github.com/openshift/aos-cd-jobs/blob/master/jobs/build/ocp/Jenkinsfile#L377

Which is loaded:
https://github.com/openshift/aos-cd-jobs/blob/mas

[2017-08-08 11:12] miminar commented on #483
@stevekuznetsov My favorite focus is `'ImagePrune|registry|ImageLookup|ImageQuota'`. It could be simplified to `Image|registry`.

[2017-08-08 22:52] stevekuznetsov commented on #483
@miminar ask and you shall receive :)

[2017-08-17 12:18] miminar commented on #483
Thanks man! Resolved.

[2017-08-17 12:18] #483 closed

[2017-08-17 12:19] kargakis opened #573 "Make fork_ami prow-compatible so it can be triggered from a PR"
It would be nice to /test fork_ami from a PR and have a fork AMI created w/o needing to navigate through Jenkins to start it. Eventually we could make the bot post back a link to the AMI or better yet the `oct` command to run in order to stand up the newly created AMI (depends on https://github.com/openshift/origin-ci-tool/issues/130)

[2017-08-17 12:21] kargakis commented on #573
cc @stevekuznetsov

[2017-08-30 05:22] smarterclayton opened #602 "Branch "check" job is redundant for origin"
It's not necessary anymore

[2017-08-30 17:11] stevekuznetsov commented on #602
Why?

[2017-09-01 06:07] smarterclayton commented on #602
Because we run all the things in it in other jobs.

[2017-09-04 09:24] kargakis commented on #573
/close

[2017-09-04 09:24] kargakis commented on #573
/reopen

[2017-09-04 09:25] kargakis commented on #573
/shrug

[2017-09-08 20:23] jupierce opened #621 "request that aos_cd_jobs updater support symlinks"
If we want to share Jenkinsfiles between jobs, it would be nice if the updater should allow symlinks.

jobs/starter/upgrade/Jenkinsfile
jobs/dedicated/upgrade --symlink--> ../starter/upgrade

[2017-09-11 14:48] kargakis opened #627 "Remove custom override from crio job"
https://github.com/openshift/aos-cd-jobs/pull/624 adds a custom override to the crio job in order to make it work. We should get rid of it eventually though

/assign @giuseppe

[2017-09-11 16:14] #621 closed

[2017-09-19 10:15] jhadvig commented on #517
@stevekuznetsov so the only case that this could occure is that we are building a pre-release upgrade version of the built pkg, cause in that case we are using the latest release version that is available, check https://github.com/openshift/aos-cd-jobs/blob/master/sjb/hack/determine_install_upgrade_version.py#L31-L34
True that we want to upgrade to the version that we just built, but I have a stra

[2017-09-19 10:37] jhadvig commented on #517
So I think its because of the `*_TARGE_BRANCH` variables,. If the origin PR is eg. against `release-1.5`, are we chcking our the matching branch of o-a repo ?

[2017-09-19 15:10] stevekuznetsov commented on #517
I don't think we are.

[2017-10-04 20:01] #627 closed

[2017-10-07 21:44] #290 closed

[2017-10-14 13:08] #259 closed

[2017-10-16 21:33] jim-minter opened #738 "In GCE CI testing, don't allow stage binaries to be paired with master images?"
Build break https://github.com/openshift/origin/issues/16882 was caused by a binary under test built from `stage` being paired with incompatible newer docker images from `master`.

I understand that on GCE, a binary under test may see older docker images, and that this artifact helps somewhat in showing system upgradability without requiring lockstep.

@smarterclayton is the intention to do this t

[2017-10-16 21:39] stevekuznetsov commented on #738
I am currently working on building the pipelines to give us version-branched images for `openshift/origin-gce`. It's just not something we have gotten around to yet.

[2017-10-17 20:32] smarterclayton commented on #738
We're also getting close to (but do not have yet) the pipelines to build
images - once we have those we'll deploy GCP clusters completely from
openshift (source images and RPMs)

On Mon, Oct 16, 2017 at 11:39 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-10-22 16:30] jupierce opened #778 "Github URL incorrect in reconciliation email"
Github URL needs "tree" in URL and should start with https://
[code]

[2017-10-26 17:10] jupierce commented on #778
The git branch will also need to be included in the URL. For example, the reconciliation could have taken place in the enterprise-3.5 ose branch or the master ose branch.

[2017-10-26 17:33] jupierce opened #793 "ocp pipeline does not checkout the correct jenkins repo branch"
https://github.com/openshift/aos-cd-jobs/blob/master/jobs/build/ocp/Jenkinsfile#L147 checks out the jenkins repo, but nothing subsequently changes it to the right branch for consumption by oit.

ose_images determines the right branch here:
https://github.com/openshift/aos-cd-jobs/blob/master/build-scripts/ose_images/ose.conf#L158-L165

[2017-10-27 22:03] pmorie opened #804 "Weird output in service-catalog job"
During e2e tests.  Example:

[code]

[2017-10-30 14:27] stevekuznetsov commented on #804
Do you have a link? We have seen this before, I think....

[2017-10-30 16:11] stevekuznetsov commented on #804
Hmmmm found it in [this](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_origin-web-console/2391/test_pull_request_origin_web_console/705/?log#log) job but we can see it's actually in the raw `build-log.txt` [as well](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_origin-web-console/2391/test_pull_request_origin_web_console/705/build-log.tx

[2017-10-30 16:12] stevekuznetsov commented on #804
Looks like it's this https://github.com/jenkinsci/ansicolor-plugin/issues/67

[2017-10-30 16:14] stevekuznetsov commented on #804
Looks like we need to disable that plugin.

[2017-10-30 16:16] #804 closed

[2017-10-30 20:49] #793 closed

[2017-10-30 20:50] #778 closed

[2017-11-21 14:53] adammhaile opened #859 "refresh-images should hard fail if VERSION_OVERRIDE does not start with "v""
$subject

@jupierce I would assign to me but apparently I don't have rights. Please assign to me.

[2017-11-21 15:35] stevekuznetsov commented on #859
/assign @adammhaile

[2017-11-21 15:35] stevekuznetsov commented on #859
Why do work when we have robots to do that for you?

[2017-11-21 17:00] adammhaile commented on #859
@stevekuznetsov Didn't know you could do that :)

[2017-11-21 17:50] jupierce commented on #859
https://github.com/openshift/aos-cd-jobs/commit/932b4cf959dc653bab53a51b331a5a9b39ec4a7b

[2017-11-21 17:51] #859 closed

[2017-12-07 14:19] kargakis opened #922 "base AMI is broken"
For two months now.

https://ci.openshift.redhat.com/jenkins/view/AMIs/job/ami_build_origin_int_rhel_base/473/consoleFull#161232730158b6e51eb7608a5981914356

@stevekuznetsov seems like the docker registry is not built correctly for the integration test?

cc: @dmage @legionus

[2017-12-07 15:35] stevekuznetsov commented on #922
That's a new failure -- the bigger issue has been the Idling thing with no network plugin that Ben was looking into. There's a PR open to Origin to fix that.

[2017-12-07 16:04] #922 closed

[2017-12-21 17:39] #137 closed

[2017-12-21 17:43] jim-minter opened #965 "Make it easy to run any job and leave the vm running at the end for fault diagnosis"
If a flaking test can't be replicated locally, it is challenging to manually recreate a remote environment to replicate the test failure.  At the moment the easiest route seems to be to clone a job in jenkins and remove all the post-run triggers.  It would be great if all jobs could have an option that prevented clean-up, so that a developer could ssh into the VM after a test failure and diagnose

[2017-12-21 17:46] jupierce opened #966 "Once oit emits even for source alias clones, build/ocp must use this information for reconciliation emails"
Until this is fixed, we get:

https://buildvm.openshift.eng.bos.redhat.com:8443/job/aos-cd-builds/job/build%252Focp/184/console
[code]

[2017-12-21 18:47] stevekuznetsov commented on #965
You're looking for a parameter in Jenkins that would stop cleanup? I'm afraid getting all the inputs to Jenkins is going to be a pain -- lots of SHA stuff to copy over to act as if you are Prow when triggering it. Right now the simplest way to stop a job from being cleaned up is just to rename the instance in EC2 while it's being run. Is that low-effort enough to make your life easier right now?

[2018-01-02 16:13] jupierce opened #970 "build/ocp job should accept a list of images to exclude"
The ocp build job presently builds all images and fails if any images don't build. Occasionally, we just need to get through a build and would like to exclude a failing image from the build process. oit will soon support this with the --exclude flag (https://github.com/openshift/enterprise-images/issues/112).

The task for this issue is to expose a new Jenkins pipeline _job parameter_ which allows

[2018-01-02 17:08] jupierce opened #971 "Copy multi-arch builds to openshift mirror"
The ocp build job currently copies oc binaries for Linux, Windows, and Mac out to:
https://mirror.openshift.com/pub/openshift-v3/clients/

But this does not include the newly introduced multi-arch deliverables.

See ppc64le, s390x, aarch64 clients in:
https://brewweb.engineering.redhat.com/brew/buildinfo?buildID=635534

Not all builds will contain these architectures (the enablement only started w

[2018-01-03 16:02] adammhaile commented on #970
All of this should be in #973

[2018-01-04 15:43] jupierce opened #975 "jenkins reconciliation emails should contain link to commit diff"
example: https://pkgs.devel.redhat.com/cgit/rpms/openshift-jenkins-2-docker/commit/Dockerfile?id=4812d44bb376980a335edba7b7e2f2a35f64ee92

This means oit will need to include the commit sha in the record.

[2018-01-05 15:48] stevekuznetsov commented on #738
/assign

[2018-01-06 13:58] jupierce opened #976 "When a partial build is continued, we need a way of pushing the late images in oit"
Late images are not pushed if there is an error on any image during images:build. We need a way to force them (maybe just an explicit push for openshift-enterprise-docker, which is the only "late" image).

[2018-01-06 14:03] jupierce commented on #976
Ideally images:push-late in oit and then a call to it in the pipeline.

[2018-01-07 14:15] jupierce commented on #976
added --late-only to oit images:push. Need to add a call to this when a partial build is continued.

[2018-01-09 02:07] #976 closed

[2018-01-09 02:08] #970 closed

[2018-01-09 02:08] #538 closed

[2018-01-09 15:58] adammhaile opened #985 "Cleanup repo"
There are a lot of old scripts and such that can likely be removed entirely. For example, there are two merge-and-build.sh files of which I believe only one is actually used.
Verify what's used and what can be deleted.

[2018-01-16 20:06] #971 closed

[2018-01-20 16:51] jupierce opened #1004 "If openshift-ansible version has not been vendored yet, bad symlink created during upgrade"
https://github.com/openshift/openshift-ansible-ops/blob/int/playbooks/site/free-int/aos__roles
created during 3.9 upgrade since 3.9 had not been vendored yet. Ideally, this would have resulted in an early error.

[2018-01-22 12:29] adammhaile commented on #539
This has been done for a long time and should be closed.

[2018-01-22 16:30] stevekuznetsov commented on #539
/close

[2018-01-22 16:30] #539 closed

[2018-01-30 02:28] jupierce opened #1045 "origin.spec changelog no longer informative"
Some time in Nov, the changelog tito was managing in origin.spec stopped including information about merges.

Compare:
boring: https://github.com/openshift/ose/blob/5d2074caf3acd8828599be460f06a11cb1e494f9/origin.spec#L609
interesting: https://github.com/openshift/ose/blob/5d2074caf3acd8828599be460f06a11cb1e494f9/origin.spec#L711

Commits are being merged, but tito doesn't seem to carry that infor

[2018-02-02 15:38] adammhaile commented on #1045
This is what broke it: https://github.com/openshift/aos-cd-jobs/commit/1da1e9cc034de5a4ece291f4cb2d1d2ab10073f5#diff-4afa940aacab03ebeba0c98c8cc67d64

--changelog overrides auto generating the changelog

[2018-02-10 16:51] jupierce commented on #1045
Changelog is back! Thanks @adammhaile .

[2018-02-10 16:51] #1045 closed

[2018-02-10 16:53] jupierce opened #1108 "build/ocp job needs boolean parameter (default to true) for whether to build AMI"
Certain build jobs will not benefit from AMIs, so we can save time.

[2018-02-12 14:49] jupierce opened #1109 "Move final ose_images image sync into oit management"
https://github.com/openshift/aos-cd-jobs/blob/master/jobs/build/buildvm-maint/scripts/maintenance.sh#L47 syncs rh-nodejs6-docker

This image should be moved into oit's sync-misc group and ose_images removed entirely from build-maint job.

[2018-02-19 21:57] #1108 closed

[2018-02-24 23:08] smarterclayton opened #1145 "test_pull_request_origin_extended_clusterup is not reporting artifacts: name 'getenv' is not defined"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_clusterup/

is failing with

[code]

[2018-02-24 23:08] smarterclayton commented on #1145
@stevekuznetsov

[2018-02-26 15:47] stevekuznetsov commented on #1145
Fixed now, was a bad import.

/close

[2018-02-26 15:47] #1145 closed

[2018-02-28 12:33] kargakis opened #1165 "Move kubernetes and crio jobs to run as prow periodics"
The jobs updated in https://github.com/openshift/aos-cd-jobs/pull/1162 need to be managed by prow with the prospect of moving them to run by the ci-operator.

@stevekuznetsov @paradigm

[2018-03-01 09:18] kargakis opened #1173 "gcsupload completes successfully but artifacts are missing"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_install/5773/consoleFull#-43480255458b6e51eb7608a5981914356

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7328/test_pull_request_openshift_ansible_extended_conformance_install/5773/

@stevekuznetsov unclear yet if this is an issue with gc

[2018-03-01 21:59] stevekuznetsov commented on #1173
https://github.com/kubernetes/test-infra/pull/7079 should help us see the end of it ... maybe we somehow lost logs? Also, since we upload in parallel it is very surprising that _everything_ is missing.

[2018-03-07 15:23] bbguimaraes commented on #1109
Tested with:

[code]

However, contrary to all the other packages, the brew tags do not have the same
name as the branch:

https://brewweb.engineering.redhat.com/brew/packageinfo?packageID=61572

resulting in:

[code]

A configuration option has to be added to support this case.

[2018-03-07 19:45] jupierce opened #1196 "Remove ose job's reliance on knowing master"
Since ose_images cannot build master any longer, it does not need to maintain information about master.

 https://github.com/openshift/aos-cd-jobs/pull/1195 should be unnecessary.

Same for https://github.com/openshift/aos-cd-jobs/commit/ba87aeb46fe5b11dce6ff90660ec4efe11eeb850

[2018-03-08 18:39] jupierce opened #1206 "build/ose job can now build simple 3.X.Y versions instead of 3.X.Y1.Y2.Y3"
We have dramatically simplified GA versioning for releases as of >=3.7. Versions are incremented 3.X.Y, 3.X.(Y+1), etc.

build/ose still maintains a complex versioning pattern required prior us enabling semantic versioning. We should bring this into alignment with release candidates built by build/ocp.

[2018-03-08 18:40] jupierce commented on #1206
build/ose no longer needs to build in online:int or online:stg mode, so all code supporting those paths can be removed.

[2018-03-09 19:55] jupierce commented on #1196
Thanks @adammhaile !

[2018-03-09 19:55] #1196 closed

[2018-03-10 19:17] kargakis commented on #1165
/assign @bbguimaraes

[2018-03-11 19:37] smarterclayton commented on #1173
Are we uploading to the wrong place somehow?

[2018-03-12 15:02] stevekuznetsov commented on #1165
They're on the Trello card already

/close

[2018-03-12 15:02] #1165 closed

[2018-03-12 15:04] stevekuznetsov commented on #1173
Not sure it's possible for those logs to have the wrong location string in them, they're using the source of truth to print out

[2018-03-13 20:21] kargakis commented on #1173
Closing in favor of https://github.com/kubernetes/test-infra/issues/7255

[2018-03-13 20:21] #1173 closed

[2018-03-22 11:19] bbguimaraes opened #1269 "Jobs based on origin_minimal are not appearing on openshift-gce-devel.appspot.com"
E.g.: https://openshift-gce-devel.appspot.com/pr/18988

It may be because it is missing these steps:

https://github.com/openshift/aos-cd-jobs/blob/18e0ec1809bceb719f768921e8bf56babbd1840b/sjb/config/common/test_cases/origin.yml#L46-L113

[2018-03-22 11:19] bbguimaraes commented on #1269
@stevekuznetsov

[2018-03-22 11:57] stevekuznetsov commented on #1269
The callout to `initupload` in the `sync:` block does those uploads -- are those jobs on `origin_minimal` but somehow not running the sync?

[2018-03-22 13:34] bbguimaraes commented on #1269
Confirmed that it's working, but commit SHAs are not recorded anymore, causing
new jobs to be grouped under the "unknown" column.

`test_pull_request_origin_cross`, the only job that still recorded them, has
been updated, so the grouping will get a little better as new jobs run.

[2018-03-22 13:34] #1269 closed

[2018-04-02 20:02] kargakis commented on #391
/shrug
/close

[2018-04-02 20:02] #391 closed

[2018-04-16 16:37] kargakis opened #1305 "test_pull_request_origin_extended_conformance_crio_rpm is missing"
@sdodson

[2018-04-17 14:50] ewolinetz opened #1306 "No clear way to retest travis or ha-master tests"
Issue seen with https://github.com/openshift/openshift-ansible/pull/7984
When travis and ha-master tests failed there was no way to restart the tests with commands.

@stevekuznetsov

[2018-04-17 16:36] stevekuznetsov commented on #1306
Travis can be restarted by an admin in the Travis console and unfortunately without an API that's the best we can do. The HA test seems to have been reconfigured? This should not reoccur.

/clone

[2018-04-17 16:36] stevekuznetsov commented on #1306
/close

[2018-04-17 16:36] #1306 closed

[2018-04-19 08:23] 0xmichalis opened #1313 "BUILD NODE IMAGE: No handlers could be found for logger"
Happens in the azure conformance job intermittently

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19175/test_pull_request_origin_extended_conformance_azure/194/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/19355/test_pull_request_origin_extended_conformance_azure/198/

@pschiffe @kwoodson our very first flake

/assign pschiffe

[2018-04-19 11:04] pschiffe commented on #1313
Full traceback:
[code]

[2018-04-25 10:09] #409 closed

[2018-04-29 18:59] smarterclayton opened #1330 "service-catalog image not pushing to v3.10, v3.10.0"
Looks like service-catalog repo hack/push-release or the job needs to be updated to run the same as the other jobs.  (basically, publishes master to the described tag version).

[2018-04-29 18:59] smarterclayton commented on #1330
/assign @jpeeler

[2018-04-30 16:26] jpeeler commented on #1330
I assume https://github.com/openshift/release/pull/820/ is related? I'm not sure what exactly needs to be done here yet.

[2018-04-30 16:27] jpeeler commented on #1330
I see that the latest tag isn't pushing, but the v3.10 images seem to be fresh. Were those manually done yesterday?

[2018-05-01 01:12] jpeeler commented on #1330
For full context, I'm seeing this (from https://ci.openshift.redhat.com/jenkins/job/push_origin_release/2827/console):
[code]
I was planning on origin images keeping the upstream tag (docker uses build timestamps for determining newer images, right?) And with that mindset I'm not sure what's wrong with the above. Please advise if catalog needs to do additional tagging to have v3.x builds.

[2018-05-04 00:09] jpeeler opened #1345 "service-catalog missing repo sync"
Adding service-catalog to at least one more sync section will be necessary, I suspect sjb/config/common/test_cases/origin_release_with_ecosystem.yml is one location. However, I see that repo sync lists are scattered throughout many files:

Grep of origin-web-console-server repo listing:
https://rawgit.com/jpeeler/f95ad8e32d7da7289dbc1ad18506be0b/raw/4b75fb1b38e7f1a88a5a8d0714e8b1cd39282e5f/origin-

[2018-05-04 14:26] stevekuznetsov commented on #1345
Generally we override `sync` at the last part of the job tree, so `origin_release_with_ecosystem` could declare something but it is up to child jobs to determine their dependencies. This allows for the branch-specific child jobs (`_39`) to be declarative about all of their dependencies. You can use `sjb/children.sh` and `sjb/parents.sh` to navigate the tree.

[2018-05-04 17:58] #1345 closed

[2018-05-09 13:42] #1305 closed

[2018-05-10 14:01] gabemontero opened #1367 "commit 5b20ebf1f1ec361b1f484a5cd14e37f4337f60a8 is cause sync repository issues in overnight regression test runs"
Seeing this:

[code]

as the failure cause for the sync repository stage in the overnight runs for
- extended cluster up
- extended builds
- extended image_ecosystem
- extended image_registry

After said commit merged yesterday.

@openshift/sig-developer-experience fyi

[2018-05-10 14:01] gabemontero commented on #1367
@stevekuznetsov

[2018-05-10 14:46] stevekuznetsov commented on #1367
@gabemontero fixed in #1368

[2018-05-10 14:46] stevekuznetsov commented on #1367
/close

[2018-05-10 14:46] #1367 closed

[2018-05-10 14:53] gabemontero commented on #1367
cool thanks @stevekuznetsov

[2018-05-10 15:44] jupierce opened #1369 "Build metrics email should sum all build metrics records"
With recent changes to oit, the build/ocp job can safely sum the results for image_build_metrics. It presently only extracts information from the first record it encounters for the "Build Complete" email.

[2018-05-10 15:44] jupierce commented on #1369
@markllama no urgency on this -- tech debt only.

[2018-05-14 13:39] gabemontero opened #1375 "overnight extended_cluster_up runs' sync repositories stage still broken"
From https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_clusterup/210/consoleFull#-31317184558b6e51eb7608a5981914356

[code]

@openshift/sig-master @openshift/sig-developer-experience @stevekuznetsov fyi

[2018-05-14 13:41] mfojtik commented on #1375
/shrug

[2018-05-15 10:28] mfojtik opened #1379 "origin-master journals are empty"
It seems like the origin-master-*.service journal artifacts are empty files (17 bytes) for all recent jobs.
This is kind of blocker for debugging any flake as we really need those logs...

I guess we need some mechanism that will stream the logs from the container into journal (and also handle the case when the container restarts...) Is there a way to create a dummy systemd service that will be ju

[2018-05-15 14:30] mfojtik commented on #1379
@smarterclayton do we have any tool to break that file into container logs? @deads2k mentioned that files contains JSON from docker journal... If not I can make one.

[2018-05-17 13:45] ingvagabund opened #1385 "test_branch_ose_check_and_verify_tasks_38: junitreport panics"
Nothing

[2018-05-17 13:54] #1385 closed

[2018-05-18 16:40] jupierce opened #1388 "BUILD_EXCLUSIONS is not used for images:rebase operation in build/ocp"
Not high priority - just happened to notice it.

[2018-05-21 10:32] kargakis opened #1391 "test_pull_request_origin_extended_conformance_crio_rpm fails continuously"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_crio_rpm/

@sdodson

[2018-05-21 10:34] kargakis opened #1392 "openshift-ansible postsubmits are broken"
All of them are failing with the following error:
[code]
@sdodson @smarterclayton

[2018-05-21 10:37] kargakis opened #1393 "GCP provision failure: Quota 'SUBNETWORKS' exceeded. Limit: 450.0 globally."
[code]
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_gce/3067
@smarterclayton

[2018-05-21 10:38] kargakis commented on #1393
https://ci.openshift.redhat.com/jenkins/job/test_branch_openshift_ansible_extended_conformance_gce/776

[2018-05-21 10:39] kargakis commented on #1392
To be fair I just see it in

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_install_update_containerized/395/

and

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_install_containerized/395/

Other version related failures in:

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_install_update_

[2018-05-21 11:38] mfojtik commented on #1393
Seems like a GCP jobs are stuck on this right now.

[2018-05-21 12:09] smarterclayton commented on #1393
The Jenkins upgrade caused clusters not to get torn down.  I cleaned up
manually yesterday - possible still not being cleaned up, or garbage left
behind.

On May 21, 2018, at 6:37 AM, Michalis Kargakis <notifications@github.com>
wrote:

TASK [openshift_gcp : Provision GCP resources] *********************************
Monday 21 May 2018  09:25:08 +0000 (0:00:03.093)       0:09:12.381 ************
fa

[2018-05-21 12:10] smarterclayton commented on #1392
Related to Jenkins upgrade?

On May 21, 2018, at 6:34 AM, Michalis Kargakis <notifications@github.com>
wrote:

All of them are failing with the following error:

########## STARTING STAGE: ENSURE BUILT VERSION OF ORIGIN IS INSTALLED
##########
+ [[ -s /var/lib/jenkins/jobs/test_branch_origin_extended_conformance_install_containerized/workspace/activate
]]
+ source /var/lib/jenkins/jobs/test_branch

[2018-05-21 12:35] sdodson commented on #1392
Not sure and I'm not familiar with that stage of the CI jobs. We should figure out the problem but then also consider disabling all containerized and system container jobs on origin master as it's not a supported deployment model in 3.10.

[2018-05-21 12:43] sdodson commented on #1391
It's trying to fetch an origin ref while in openshift-ansible repo.

[2018-05-21 14:31] smarterclayton commented on #1392
Those should already all be disabled on master.  I think those are the
older branch jobs.

On Mon, May 21, 2018 at 8:35 AM, Scott Dodson <notifications@github.com>
wrote:

[2018-05-21 14:34] kargakis commented on #1392
Seeing these failures in openshift/openshift-ansible#master

https://deck-ci.svc.ci.openshift.org/?repo=openshift%2Fopenshift-ansible&type=postsubmit

On Mon, May 21, 2018 at 4:31 PM, Clayton Coleman <notifications@github.com>
wrote:

[2018-05-24 17:49] gabemontero opened #1410 "install origin failing consistently for certain jobs"
See jobs 141, 142, and 143 for https://ci.openshift.redhat.com/jenkins/view/All/job/test_pull_request_jenkins_sync_plugin/

This job last passed install origins on May 22

See https://ci.openshift.redhat.com/jenkins/view/All/job/test_branch_origin_extended_image_ecosystem/492/

See https://ci.openshift.redhat.com/jenkins/view/All/job/test_branch_origin_extended_image_registry/217/

I see quite a f

[2018-05-24 17:49] gabemontero commented on #1410
@openshift/sig-developer-experience fyi

[2018-05-24 18:48] smarterclayton commented on #1410
This looks like something with service catalog and images @pmorie @sdodson had been looking at something similar.

[2018-05-24 19:29] sdodson commented on #1410
It's expecting that `openshift/origin-service-catalog:8ac6446` because we're setting 'oreg_url=openshift/origin-${component}:8ac6446' which will work for images built during the job but won't work for images built outside of the job. Problem introduced in https://github.com/openshift/openshift-ansible/pull/8479 not sure the correct way to fix this short of overriding a bunch of variables in CI job

[2018-05-24 20:36] michaelgugino commented on #1410
We either need to build service-catalog and related components in the same manner we build everything else, or we need to set openshift_service_catalog_image in this job.

[2018-05-30 13:34] gabemontero commented on #1410
bump @michaelgugino @sdodson - any ETA for when a fix might be coming, or at least an ETA on when a decision on which fix strategy to employ?

this is currently blocking the nightly regression runs for image registry, app development related images from the sclorg, and the build component.

I would add some labels indicating the blocking nature of this, but I don't appear to have permission to do

[2018-05-30 13:34] gabemontero commented on #1410
@adambkaplan /cc

[2018-05-30 17:34] gabemontero commented on #1410
Did a little digging based on the insights from @sdodson and @michaelgugino to at least better familiarize myself with what is going on.

Ended up focusing on https://github.com/openshift/aos-cd-jobs/blob/master/sjb/config/common/test_cases/origin_installed_release.yml which is what all of our affected jobs cite as their parent, where these jobs do not build the origin images as @sdodson noted.

1

[2018-05-31 14:52] stevekuznetsov commented on #1410
We chose the SHA approach as we want to be certain that we are integrating the latest built versions of these images. If we are using `:latest` we would, for instance, in the cases where image GC was nuking component images, pull other versions from Docker Hub or other registries configured in the AMI... and end up with an unintelligible test as we have no control over the versions of the images b

[2018-05-31 16:17] gabemontero commented on #1410
Understood @stevekuznetsov , but the path to building the missing image or tagging it in is unclear or undesirable from my knowledge of things, and at this point, validation against "some version" vs. no validation attempts is appearing more and more like sufficient progress, at least to me.  Part of that though is a an assumption that there is a possible short term solution and then a longer term

[2018-05-31 16:27] stevekuznetsov commented on #1410
Tagging in would just take `:latest` from wherever and tag it with the SHA. The rest of the jobs seem to run with `origin_release.yml`, right, as they do all the building necessary in the job itself. This is definitely slower and more resource intensive but for daily runs it should be a minimal impact, right? We aim to have "stable latest" streams we can pull from for jobs soon as well that will m

[2018-05-31 16:39] gabemontero commented on #1410
On Thu, May 31, 2018 at 12:27 PM, Steve Kuznetsov <notifications@github.com>
wrote:

Ah I see what you mean now - thanks ... presumably tagging with the SHA
protects from the image pruning / GC, right?

Yep, just searched and confirmed only our jobs leverage
origin_installed_release.yml ... hadn't realized that previously ... so
yeah, we could customize
this to tag the image(s) in question

To a p

[2018-06-01 05:31] kargakis opened #1431 "object of type 'builtin_function_or_method' has no len()"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/test_branch_origin_extended_conformance_azure_39/18/

@openshift/sig-azure
/kind test-flake

[2018-06-01 05:35] kargakis commented on #1431
/remove-kind test-flake
/kind bug

This is not a flake but a permanent failure

https://deck-ci.svc.ci.openshift.org/?job=test_pull_request_origin_extended_conformance_azure_39

[2018-06-05 12:06] kargakis commented on #1431
@kwoodson @pschiffe can one of you have a look?

[2018-06-05 16:08] #573 closed

[2018-06-05 16:08] #446 closed

[2018-06-05 16:10] kargakis commented on #289
I don't think we are moving forward with enhancing AMIs anymore.

[2018-06-05 16:10] #289 closed

[2018-06-05 16:11] kargakis commented on #292
I don't think we are moving forward with enhancing AMIs anymore.

[2018-06-05 16:11] #292 closed

[2018-06-05 16:11] kargakis commented on #281
I don't think we are moving forward with enhancing AMIs anymore.

[2018-06-05 16:11] #281 closed

[2018-06-05 17:09] #352 closed

[2018-06-05 17:09] #361 closed

[2018-06-05 17:10] #517 closed

[2018-06-05 17:31] lsm5 opened #1438 "adding cri-o yum repos to rhel7next.sh"
@stevekuznetsov @jupierce @runcom @ashcrow  RE: getting cri-o and cri-tools into dockertested, can we include internal brewweb links in rhel7next.sh ? If yes, how should I include it exactly? Should all different branches go into the script together, or do I issue PRs to build/ose3.x branch for rhaos-3.x branch? Or, instead of internal repos, I could just add CentOS PaaS SIG repos where i'm just r

[2018-06-06 20:00] #1410 closed

[2018-06-07 12:19] adambkaplan opened #1442 "openshift-ansible release fails if tag already exists"
Origin release with ecosystem tests fail if tag for openshift-ansible already exists:

See https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_registry/232/

[code]

Note - the errant git tag `3.10.1-1` does not exist in the openshift-ansible repo on Github.

[2018-06-07 12:32] adambkaplan commented on #1442
@openshift/sig-developer-experience
@openshift/sig-continuous-delivery

[2018-06-07 13:42] adambkaplan commented on #1442
![](https://github.trello.services/images/mini-trello-icon.png) [Investigate openshift-ansible tag issue](https://trello.com/c/IpHXhSru/734-investigate-openshift-ansible-tag-issue)

[2018-06-07 14:46] adambkaplan commented on #1442
@openshift/sig-continuous-infrastructure

[2018-06-07 16:04] markllama opened #1446 "ose builds prior to 3.6 will fail openshift-ansible RPM build"
The openshift versions prior to 3.6 were not version and release locked to 2 fields.  The OIT RPM build system expects to apply a 2 field (3.N) version to all RPMs built and keep them in lockstep.

When building the using the `ose/Jenkins` job, the script pulls the version from the OSE rpm and then tries to apply it, all 5 fields to build the RPMs.  (currently only openshift-ansible for old builds

[2018-06-07 16:10] tbielawa commented on #1446
from https://buildvm.openshift.eng.bos.redhat.com:8443/job/aos-cd-builds/job/build%252Fose/214/console

[2018-06-07 17:03] adambkaplan commented on #1442
odd...with a fresh Jenkins job the build succeeds: https://ci.openshift.redhat.com/jenkins/job/tmp_origin_tito_test/1/
However, existing jobs continue to fail.

[2018-06-07 17:38] jupierce commented on #1446
I would lean toward having the rpm metadata decide how it is to be versioned. < 3.6
[code]

'bump' would allow tito to bump the version as it already knows how to do. adopt would use what was specified on the command line.

[2018-06-07 17:51] tbielawa commented on #1446
Reverted in https://github.com/openshift/aos-cd-jobs/pull/1447

[2018-06-07 18:18] markllama commented on #1446
Reverted.  We can revisit for ose at our leisure

[2018-06-07 18:18] #1446 closed

[2018-06-08 00:02] markllama opened #1449 "build_ami job still requires openshift-ansible git information"
The *ami* stage of the ocp Jenkins job still wants to pass an OPENSHIFT_ANSIBLE_SOURCE_BRANCH value that is no longer present.

The build/aws_ami job must be updated to use the RPM built by the ocp and ose jobs.

[2018-06-08 13:09] markllama commented on #1449
Proposed fix: https://github.com/openshift/aos-cd-jobs/pull/1451

[2018-06-11 14:32] ingvagabund commented on #1442
For some reason the tag already exists in the repo even before the `github.com/openshift/openshift-ansible` is pulled/synced.

Right after creating the AWS instance:
[code]

So something is putting the tag into the repo during the "bake the base image" process.

[2018-06-11 14:44] ingvagabund commented on #1442
The job [1] already builds `openshift-ansible-3.10.1` and adds the `openshift-ansible-3.10.1-1` tag. @stevekuznetsov ? Do you know why?

[1] https://ci.openshift.redhat.com/jenkins/job/ami_build_origin_int_rhel_build/2885/consoleFull

[2018-06-11 17:12] stevekuznetsov commented on #1442
/assign @sdodson @smarterclayton

Is this the classic release branch mishap?

[2018-06-11 17:14] stevekuznetsov commented on #1442
In the jobs we build tag N+1 from the current branch, so this could also be a workspace caching problem:

 - AMI was built from `master` after `3.9` and therefore created a workspace with `3.10`
 - `master` is updated to `3.10`
 - jobs using the AMI have a stale workspace and collide tags

We can release a new AMI this morning.

[2018-06-11 17:18] stevekuznetsov commented on #1442
Yeah, the working job is at `image_stage: base` and the broken job at `image_stage: base`. We need to publish a new `build` stage AMI, which should be happening on every commit to Origin. I will look into it.

/assign

[2018-06-11 17:45] stevekuznetsov commented on #1442
The job is building Origin and OpenShift Ansible but is asking for a pre-built AMI at the same time. The job should be reconfigured to use the `base` stage AMI instead.

/close

[2018-06-11 17:45] #1442 closed

[2018-06-12 16:44] jpeeler commented on #1330
The pushes are based on the tags and the tags have been changed to conform to openshift's 3.x versioning. This issue can be closed.

[2018-06-12 16:46] jpeeler opened #1458 "CI failure due to tito exception - test_pull_request_origin_extended_conformance_gce_39"
(test_pull_request_origin_extended_conformance_install_39 also fails in the same way)
Feel free to do any necessary retests on https://github.com/openshift/origin/pull/19965.
[code]

[2018-06-12 16:55] stevekuznetsov commented on #1458
/cc @sdodson

Does the tag exist in the repo itself? Or is this an AMI thing? Is the tag present in some other branch?

[2018-06-12 16:59] jpeeler commented on #1458
The tag was created yesterday - https://github.com/openshift/openshift-ansible/releases/tag/openshift-ansible-3.9.31-1

[2018-06-12 17:17] sdodson commented on #1458
@kwoodson what's up with that tag? We need to use tito so that the specfile gets bumped at the same time as tag creation.

I just tagged 3.9.32-1 to clean this up.

[2018-06-12 17:21] sdodson commented on #1458
Did this to force 3.9.32, but normally you don't need to specify the version.

[code]

[2018-06-12 17:27] kwoodson commented on #1458
@sdodson I didn't do anything out of the ordinary. How do those tags get created? I merged a pr for Azure.

[2018-06-12 18:06] jpeeler commented on #1458
This has fixed the problem, thanks!

[2018-06-12 20:17] stevekuznetsov commented on #1438
/assign @jupierce

[2018-06-12 20:24] jupierce commented on #1438
@lsm5 rhel7next.sh runs within the VPN, so it can include brew links. Only the master branch matters for the purposes of this script.

[2018-06-12 20:41] lsm5 commented on #1438
@jupierce so RE: cri-o and cri-tools, it gets built for multiple branches rhaos-3.[8,9,10]-rhel-7. And these end up in different yum repos. What I'm wondering about is for example: do all of openshift 3.8, 3.9 and 3.10 use the master branch itself to get their yum repos configured?

IOW, if I were to include the cri-o repos, would something like this in the master branch rhel7next.sh suffice:

LAT

[2018-06-13 12:12] sdodson commented on #1458
@jupierce I think something is going on with tagging, these tags all tag just a random commit with no corresponding specfile version bump is that expected? This causes the origin ci processes to attempt a local tag that points at a version that may already exist.

https://github.com/openshift/openshift-ansible/releases/tag/openshift-ansible-3.9.31-1
https://github.com/openshift/openshift-ansible/r

[2018-06-13 13:11] jupierce commented on #1458
@sdodson CD was working on moving openshift-ansible to be a "normal" RPM (just like other components). Other components don't get their spec file incremented right now.

@tbielawa @adammhaile @markllama - This is resulting from new oit based openshift-ansible RPM build. oit will need to update the spec file for this component in order to not break CI.

[2018-06-13 15:09] sdodson commented on #1458
s/normal/abnormal/ FTFY
The fact that we're producing builds with versions and tags that aren't reflected in the specfile is an aberration that only OpenShift has.

@stevekuznetsov I guess one way we could resolve this is to force CI jobs to generate some tag that is never going to conflict like 3.10.0-90000

[2018-06-13 15:17] markllama commented on #1458
@sdodson I think per @jupierce this is a regression introduced when we switched the openshift-ansible RPM build from custom code in Groovy to use the OIT rpms:build task.  I'll look back at the refactored code and see If I can find what logic did this correctly before.

[2018-06-13 15:29] stevekuznetsov commented on #1458
@sdodson sure, we could make that tag. IIRC it's just in the `tito` call in the job

[2018-06-13 16:39] markllama commented on #1458
PR: https://github.com/openshift/aos-cd-jobs/pull/1461/files

[2018-06-13 17:18] markllama commented on #1458
PR merged.  Need confirmation.

[2018-06-13 19:12] tbielawa commented on #1458
@stevekuznetsov @sdodson close this out if you decide the fix did the :+1: needful

[2018-06-13 19:22] jpeeler commented on #1458
It did not, it has broken things again.

[2018-06-13 19:28] sdodson commented on #1458
@tbielawa
It looks like setting the release strips the '.el7' from the RPM Release. The build/tag step produces `openshift-ansible-3.10.1-9999.git.0.3c903c2` but the install wants `openshift-ansible-3.10.1-9999.git.0.3c903c2.el7`

[2018-06-13 21:22] jupierce commented on #1458
@sdodson Updated with https://github.com/openshift/aos-cd-jobs/pull/1462

[2018-06-13 22:30] jpeeler commented on #1458
It's still failing - https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/12241/consoleFull#198243902558b6e51eb7608a5981914356

[2018-06-13 23:38] jupierce commented on #1458
@jpeeler Can't explain why the original push didn't work, but I pushed this time, checked that the job was corrected and it is getting further now: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_install/12242/consoleFull

[2018-06-14 13:38] jpeeler commented on #1458
Great, thanks for the retest. It merged, so all must be well.

[2018-06-14 14:18] tbielawa commented on #1458
Alright then folks, is there general consensus now that this is working? Nobody seeing anything "wrong" or mistagged or generally :confused: ? Ready to close this issue out?

@stevekuznetsov @sdodson @jpeeler

[2018-06-14 14:21] markllama commented on #1446
Yep, closed again.

[2018-06-14 14:23] markllama commented on #1458
jpeeler's tests and several initiated by @jupierce overnight ran to completion, built and used the openshift-ansible package.  The fix was to force a tag during the test build that had previously been forced during oit.

[2018-06-14 14:57] jpeeler commented on #1458
Yes, I'm not seeing any issues related to the tagging any more.

[2018-06-14 16:14] stevekuznetsov commented on #1458
/close

[2018-06-14 16:14] #1458 closed

[2018-06-15 15:45] jpeeler commented on #1393
I'm seeing this on the 3.9 branch, are there separate queues for each branch?

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce_39/288/consoleFull#5070562758b6e51eb7608a5981914356

[2018-06-18 13:34] kargakis opened #1470 "Gather artifacts from acs-engine tests"
Follow-up to https://github.com/openshift/aos-cd-jobs/pull/1415

@openshift/sig-azure

[2018-06-18 18:57] bparees opened #1472 "branch extended test jobs are using old test code"
this nightly test ran:
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_image_ecosystem/519/

from the output we see the extended test binary is:
[code]

that commit is 13 days old.

So either the test job needs to be fixed to sync code from origin master before building the test binary, or the AMI is not getting updated w/ current code as we'd expect.

the binary is being b

[2018-06-18 18:58] bparees commented on #1472
(I'm concerned that the cluster code itself is also 13 days old, based on this, and we certainly want to be testing newer code)

[2018-06-18 19:56] bparees commented on #1472
from the sync repositories step, notice origin is missing:

[code]

[2018-06-18 21:49] stevekuznetsov commented on #1472
Forgive the horrible one-liner but you actually never configure an `origin` sync:

[code]

[2018-06-19 00:30] #1472 closed

[2018-06-22 14:06] tbielawa opened #1491 "CI job for openshift-ansible isn't updating the spec file Version"
Copying important bits from the original issue

https://github.com/openshift/openshift-ansible/issues/8886

----

@DanyC97 fyi it seems the CI job which cuts a new release for 3.7 branch no longer update the spec file and that has an impact on us - PaaS when we create the rpms.any chance you can correct it please?

tbielawa commented a day ago Only 3.7?

DanyC97 commented 22 hours ago

@tbielawa y

[2018-06-27 16:56] markllama commented on #1491
Re openshift/openshift-ansible#8886  - I'm waiting for @smarterclayton  and @tbielawa to decide on the best course of action.

[2018-07-02 17:46] tbielawa commented on #1491
@markllama I think clayton got back to you on that

"At this point it would be better if you modify the spec file. For common components, we pass variables to the spec file rather than updating them and committing them."

[2018-07-10 16:33] danwinship opened #1516 "test_pull_request_origin_cmd is getting stuck and hanging forever(ish?)"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_cmd/15308/
has been stuck at

    ++ /go/src/github.com/openshift/origin/test/cmd/secrets.sh
    ...
    SUCCESS after 1.340s: hack/test-cmd.sh:109: executing 'oc get projects -o name' expecting any result and text 'project.project.openshift.io/cmd-secrets'; re-trying every 0.2s until completion or 60.000s

for at least an hour n

[2018-07-11 15:35] kargakis opened #1520 "Cluster deployment fails on SDN"
Once the quoting issue mentioned in https://github.com/Azure/acs-engine/pull/3443#issuecomment-404187641 is fixed, the cluster deployment fails with
[code]
@openshift/sig-azure

[2018-07-12 14:32] danwinship commented on #1516
I was assuming this was CI-related because it didn't seem to be timing out and getting killed ever, but it looks like actually the jobs do get killed after 4 hours. It looks like this is probably a bug in test-cmd itself (see also https://github.com/openshift/origin/pull/20299)

[2018-07-12 14:32] #1516 closed

[2018-07-17 21:57] #1520 closed

[2018-07-20 21:33] kargakis opened #1531 "'Ensure libselinux-python is installed' base image failure"
[code]
https://ci.openshift.redhat.com/jenkins/job/azure_build_base_image_centos/82/consoleFull#172018562258b6e51eb7608a5981914356

Started happening two days ago

@openshift/sig-azure

[2018-07-20 21:34] kargakis commented on #1531
Both centos and rhel jobs fail

https://ci.openshift.redhat.com/jenkins/job/azure_build_base_image_rhel/87/consoleFull#172018562258b6e51eb7608a5981914356

[2018-07-20 21:37] kargakis commented on #1531
Also something to keep in mind, our node image builds are stalled because base image builds fail. We should probably run node image builds independently as well as child jobs to base builds.

[2018-07-20 21:40] kargakis commented on #1531
PR jobs are also broken because of this.

[2018-07-26 01:08] jim-minter commented on #1531
@kargakis @kwoodson now https://github.com/openshift/openshift-ansible/pull/9305 is merged can this be closed?

[2018-07-26 08:29] kargakis commented on #1531
This seems fixed and some of our jobs are back to green after a long time! Thanks @kwoodson !

[2018-07-26 08:29] #1531 closed

[2018-07-26 10:01] kargakis commented on #1531
Heh, I guess we have green jobs because of https://github.com/openshift/aos-cd-jobs/pull/1537

[2018-08-07 14:13] runcom opened #1547 "missing builds for CRI-O jobs"
We don't have anything in here https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kubernetes-incubator_cri-o/1724/test_pull_request_crio_e2e_rhel/1239/

We should have something that looks like PRs builds in Origin. We're very luckily missing logs/junits from GCE storage. For instance, in this job we're getting (https://ci.openshift.redhat.com/jenkins/job/test_pull_request_c

[2018-08-08 16:43] stevekuznetsov commented on #1547
Did this change recently? I don't understand why we would get permissions denied on the target host, we are root on that machine. Is this reproducible?

[2018-08-08 17:02] runcom commented on #1547
looks like every job is failing on gcs artifacts :confused:

[2018-08-27 15:11] runcom commented on #1547
@stevekuznetsov we're still not able to collect logs/artifacts for CRI-O builds. We can see everything is working properly for builds in gcp-crio for origin, but when it comes to the crio repo itself, we don't have anything:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kubernetes-incubator_cri-o/1724/test_pull_request_crio_e2e_rhel/1239/ ---> any of this link will sho

[2018-08-27 15:11] runcom commented on #1547
also, these are empty as well:

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_pull_request_crio_e2e_rhel
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/test_branch_crio_e2e_fedora

[2018-08-27 15:12] runcom commented on #1547
This looks fine instead as said https://openshift-gce-devel.appspot.com/builds/origin-ci-test/pr-logs/directory/pull-ci-origin-e2e-gcp-crio/ (this is origin repo, not cri-o repo)

[2018-08-27 15:16] runcom commented on #1547
This PR is now breaking everything I believe https://github.com/kubernetes/test-infra/pull/5943 -> https://k8s-testgrid.appspot.com/sig-node-cri-o#Summary

[2018-08-27 17:31] stevekuznetsov commented on #1547
Looks like there is no `/data` directory on the remote host.

[2018-08-28 07:50] runcom commented on #1547
@stevekuznetsov looks like the e2e jobs in https://github.com/kubernetes-incubator/cri-o/pull/1715 are still missing `/data/gcs` even if you merged https://github.com/openshift/aos-cd-jobs/pull/1563. Are the changes in that PR already in place? Do we need to update the def in jenkins or anything else?

The failing jobs are:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull

[2018-08-28 07:52] runcom commented on #1547
On top of the above, looks like the e2e_fedora job linked above never completes: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_fedora/1153/console - it's stuck in gathering info

[2018-08-28 13:37] runcom commented on #1547
@stevekuznetsov latest update:

e2e jobs from https://github.com/kubernetes-incubator/cri-o/pull/1715 are now stuck in gathering artifacts:

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_fedora/1154/console
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/1297/console

[2018-08-28 13:38] runcom commented on #1547
further update, the `/data/gcs` change isn't taking any effect on jobs...... both vms don't have `/data/gcs`

[2018-08-28 17:48] runcom commented on #1547
@stevekuznetsov even with /data/gcs correctly created, builds from https://github.com/kubernetes-incubator/cri-o/pull/1715 aren't still showing the appropriate results here:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kubernetes-incubator_cri-o/1715/test_pull_request_crio_e2e_fedora/1155/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kuber

[2018-08-28 18:52] stevekuznetsov commented on #1547
Looks like something is causing a no-op on the push?

[code]

[2018-08-28 18:52] stevekuznetsov commented on #1547
The script is:

[code]

[2018-08-28 19:07] stevekuznetsov commented on #1547
fixed here https://github.com/openshift/aos-cd-jobs/pull/1567

[2018-08-28 20:38] runcom commented on #1547
I'm kicking off two new jobs and see how they go

[2018-08-28 22:07] runcom commented on #1547
e2e builds kicked, we're still getting `Missing build ...` when job is running https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kubernetes-incubator_cri-o/1715/test_pull_request_crio_e2e_fedora/1157/ (we should see something like job's running right? it should point to where we pushed started.json and the like)

[2018-08-29 08:39] runcom commented on #1547
builds seems to be shown now https://openshift-gce-devel.appspot.com/build/origin-federated-results/pr-logs/pull/kubernetes-incubator_cri-o/1715/test_pull_request_crio_e2e_fedora/1157/ but they're still shown as running.

[2018-09-03 17:58] runcom commented on #1547
This is now working fine on e2e jobs:

https://openshift-gce-devel.appspot.com/build/origin-federated-results/pr-logs/pull/kubernetes-incubator_cri-o/1715/test_pull_request_crio_e2e_fedora/1171/
https://openshift-gce-devel.appspot.com/build/origin-federated-results/pr-logs/pull/kubernetes-incubator_cri-o/1715/test_pull_request_crio_e2e_rhel/1311/

[2018-09-03 17:58] #1547 closed

[2018-10-01 19:27] gabemontero opened #1599 "failure with devexp bump jenkins version"
So after getting 4.0 as an option for https://buildvm.openshift.eng.bos.redhat.com:8443/job/devex/job/devex%252Fjenkins-bump-version/

When I ran job https://buildvm.openshift.eng.bos.redhat.com:8443/job/devex/job/devex%252Fjenkins-bump-version/23/console it looks like it downloaded the new jenkins war just fine, but i then bombed out.

That last chuck on logs:

[code]

In looking at https://githu

[2018-10-02 14:04] adammhaile commented on #1599
@gabemontero I don't really know anything about this job but looks like you need to add `--allow-unrelated-histories` to your git commands.

[2018-10-02 14:07] gabemontero commented on #1599
ok thanks @adammhaile .... I'll start constructing a PR.

@jupierce - know you don't own this anymore, but as the originator of this internal pipeline job, any quick guidance or table setting you could provide?

thanks

[2018-10-02 14:35] #1599 closed

[2018-10-04 15:41] enj opened #1607 "No longer seeing emails for auth extended test failures"
After the change made in #1598, I am no longer seeing failure emails.

Per https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_gssapi/584/consoleFull#-47159270058b6e51eb7608a5981914356 I can see:

`Sending e-mails to: aos-auth-team@redhat.com`

@ericavonb has noted that the mailing list has no restrictions.

/assign @stevekuznetsov
@openshift/sig-security

[2018-10-08 07:10] stevekuznetsov commented on #1607
I think this is as the default configuration does not "Send e-mail for every unstable build" and your job is consistently red. I'll update that.

[2018-10-10 16:35] ceagan opened #1617 "Metrics Release 3.10.0 is not on Docker Hub"
There appears to be a build/push issue with OpenShift Metrics 3.10 and might be related to the code in this project. I'm not sure, but could someone on this project please give it a quick look?

https://github.com/openshift/openshift-ansible/issues/9948
https://github.com/openshift/origin-metrics/issues/429
https://ci.openshift.redhat.com/jenkins/job/push_origin_metrics_release_310/

[2018-10-11 09:36] stevekuznetsov commented on #279
/close

[2018-10-11 09:37] stevekuznetsov commented on #738
/close

[2018-10-11 09:37] #279 closed

[2018-10-11 09:37] #738 closed

[2018-10-14 14:59] bilalx20 commented on #1617
solution here openshift/origin-metrics#429

[2018-10-16 16:02] ceagan commented on #1617
@bilalcaliskan Unfortunately, the only solution on that issue, which I also referenced in my original post, is a workaround that installs version 3.11. Did you find something on that issue that I'm not seeing?

[2018-10-16 16:15] bilalcaliskan commented on #1617
@ceagan
https://github.com/openshift/origin-metrics/issues/429#issuecomment-418271287 suggests that to install metrics-3.11 releases for openshift-3.10. You should change your inventory file and re-initialize cluster. You will get the idea if you click the link.

[2018-10-30 18:54] gabemontero opened #1631 "INSTALL ORIGIN stage consistently failing for test_pull_request_jenkins_client_plugin"
Started seeing this failure consistently throughout today:

[code]

Latest incarnation at https://ci.openshift.redhat.com/jenkins/job/test_pull_request_jenkins_client_plugin/140/consoleFull#6655283658b6e51eb7608a5981914356

@stevekuznetsov @openshift/sig-developer-experience fyi

[2018-10-30 19:45] richm commented on #1631
https://github.com/openshift/aos-cd-jobs/pull/1630

[2018-10-31 19:17] gabemontero commented on #1631
see discussion in https://github.com/openshift/aos-cd-jobs/pull/1630

[2018-11-05 19:31] #1631 closed

[2018-11-07 14:30] markllama opened #1641 "Convert refresh-images email destinations to mailing lists"
Several email destinations in the build/refresh-images/Jenkinsfile refer to individuals rather than mailing lists, and two refer to individuals who are no longer valid recipients.

----
grep -n redhat.com ./build/refresh-images/Jenkinsfile
33:            from: "aos-cicd@redhat.com",
34:            replyTo: 'smunilla@redhat.com',
90:                        defaultValue: 'tbielawa@redhat.com,jupierc

[2018-11-13 16:10] #1641 closed

[2019-07-11 06:34] kshithijiyer opened #1886 "Missing License file."

[2019-08-29 09:52] shiywang opened #1936 "refresh-images job will be failed if building AMI is checked."
https://github.com/openshift/aos-cd-jobs/blob/cf5a56746a67ec306533a67f2c578deaa1e6adfe/jobs/build/refresh-images/Jenkinsfile#L278

I don't think that image still exists, if we want to get version, maybe we can use `openshift-enterprise-cli` as an alternative ?

base on this job https://localhost:8888/job/aos-cd-builds/job/build%252Frefresh-images/540/console
although check on buildAMI was not my i

[2019-08-29 09:57] shiywang commented on #1936
@sosiouxme

[2019-08-29 12:56] sosiouxme commented on #1936
it doesn't exist, and i have no idea what is invoking this. someone should definitely investigate. however when i saw this last, the real build worked, and this was just a failure at the end... right?

[2019-08-29 13:15] shiywang commented on #1936
@sosiouxme  so the failure is due to I checked `build_ami (golden images)`. and I check it failed at that stage the first job, second job I didnt check that option.

so if build_ami really doesn't use anymore or not that frequent we move it to lower prioprity.

[2019-09-24 12:12] #211 closed

[2019-09-24 12:12] #602 closed

[2019-09-24 12:12] #1330 closed

[2019-09-24 12:13] #474 closed

[2019-09-24 12:13] #1313 closed, assigned to pschiffe

[2019-09-24 12:14] #1392 closed

[2019-09-24 13:19] #1388 closed

[2019-09-24 13:19] #1369 closed

[2019-09-24 13:20] #1206 closed

[2019-09-24 13:20] #1109 closed

[2019-09-24 13:21] #1004 closed

[2019-09-24 13:21] #975 closed

[2019-09-24 13:22] #966 closed

[2019-09-25 10:52] thiagoalessio commented on #202
@rhcarvalho @stevekuznetsov would you guys be ok if I close this issue? Is so old, a lot has changed since then (i guess)

[2019-09-25 15:52] #257 closed

[2019-09-25 15:52] #965 closed

[2019-09-29 06:34] #202 closed

[2019-10-21 07:29] shiywang opened #2000 "build/advisory should bugzilla login before elliott create-placeholder"
https://localhost:8888/job/aos-cd-builds/job/build%252Fadvisories/9/console

[2019-10-22 06:02] shiywang commented on #2000
currently, we still waiting for the for Bugzilla bot account to be available on buildvm.

[2019-10-24 09:14] shiywang opened #2005 "For 3.x release signed-compose job could call refresh-images once it succeed."
I think we could have a check like `refresh-images` once the signed-compose job succeed for 3.x

[2019-11-06 12:57] thiagoalessio commented on #2000
I think that was solved by either @tbielawa or @jupierce . Can we close this issue?

[2019-11-06 15:56] tbielawa commented on #2000
I think this is good to close. We have the account set up using a stored API key now. No more logging in required.

[2019-11-06 15:56] #2000 closed

[2020-03-13 03:48] #1936 closed

[2020-03-13 03:48] #2005 closed

[2020-03-13 03:52] #985 closed

[2020-03-13 03:52] #1375 closed

[2020-03-13 03:52] #1379 closed

[2020-03-13 03:52] #1438 closed

[2020-03-13 03:52] #1449 closed

[2020-03-13 03:52] #1470 closed

[2020-03-13 03:52] #1491 closed

[2020-03-13 03:52] #1607 closed

[2020-03-13 03:52] #1617 closed

[2020-03-13 03:55] sosiouxme commented on #1886
not sure what use anyone else has for this code, but there it is.
https://github.com/openshift/aos-cd-jobs/blob/master/LICENSE

[2020-03-13 03:55] #1886 closed